/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import 'ngx-toastr/toastr';
@utility container{
    margin-inline: auto;
    width: 95%;

}

@theme{
     --color-primary: #D97706;
  --color-secondary: #92400E;
  --color-danger: #fb2c36;
  --color-background: #FEF3C7;
  
}
.color-background{
    background-color: var(--color-background);
}
.color-primary{
    color: var(--color-primary);
}
.color-secondary{
    color: var(--color-secondary);
}
.color-danger{
    color: var(--color-danger);
}

body{
     font-family: "Exo", sans-serif;
  
}